<div class="container">
  <form class="jumbotron">
      <h3 class="display-4">Add a Link</h3>
      <div class="form-group">
        <label for="title">Title:</label>
        <input name="title" #newtitle class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Link:</label>
        <input name="link" #newlink class="form-control">
      </div>
    <button (click)="addArticle(newtitle, newlink)" class="btn btn-primary">
        Submit link
    </button>
  </form>
  <div class="card">
    <ul class="list-group">
      <li class="list-group-item bg-success text-white my-1" *ngFor="let title of articles">
        <app-article [title]="title"></app-article>
      </li>
    </ul>
  </div>
</div>
